.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register h2 {
    text-align: center;
    margin-top: 7rem;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.792);
    animation-name: slide-right;
    animation-duration: .8s;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.66);
    padding: 2rem;
    border-radius: 4px;
    animation-name: slide-top;
    animation-duration: 1s;
}

.register-form div {
    display: flex;
    gap: 1rem;
}

.register-input {
    font-size: 1rem;
    padding: 5px;
    border: 1.5px solid rgb(147, 145, 145);
    border-radius: 4px;
    transition: .4s;
}

.register-input:focus {
    border-color:  rgba(0, 0, 0, 0.938);
}

.input-name, .input-lastname, .input-password {
    width: 170px;
}

.input-email {
    width: 370px;
}

.required-msg {
    font-size: .82rem;
    margin-top: -.3rem;
}

.register-btn {
    color: white;
    background-color: rgba(0, 0, 0, 0.938);
    padding: 7px 15px;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: .4s;
}

.register-btn:hover {
    background-color: rgb(98, 98, 98);
}

.error-msg {
    font-size: .95rem;
    font-weight: 500;
    margin: -.4rem 0;
    animation-name: slide-right;
    animation-duration: .5s;
}

.redirect-btn {
    margin-top: .5rem;
    cursor: pointer;
    font-size: .92rem;
    color: rgba(0, 0, 0, 0.635);
    transition: .4s;
}

.redirect-btn:hover {
    color: rgba(0, 0, 0, 0.938);
    font-weight: 500;
}

.log-input-password, .log-input-email {
    width: 300px;
} 

@keyframes slide-right {
    from{
        margin-left: -4rem;

    }to{
        margin-left: 0;
    }
}

@keyframes slide-top {
    from{
        margin-top: 5rem;
    }to{
        margin-top: 1rem;
    }
}

