@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Golos Text', sans-serif;
}

a, button, input {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}


.red {
  color: red;
}

.green {
  color: green;
}

.container {
  max-width: 1420px;
  padding: 5rem 0;
}


